# Add any directories, files, or patterns you don't want to be tracked by version control
*.iml
.gradle
/local.properties
/.idea/*
.DS_Store
/build
/captures
/app/apk
/app/release
.externalNativeBuild    
.cxx
